# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.SweetStealth.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\frede\Documents\GameDev\Projects\SweetStealth\.idea\.idea.SweetStealth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
